.clear-v-table() {
	display: block;
	width: auto;
	height: auto;
	vertical-align: baseline;
	text-align: inherit;
}

.v-top() {
	position: absolute;
	top: @line-height-computed/2;
	left: @line-height-computed/2;
	right: @line-height-computed/2;
	.clear-v-table();
}

.v-bottom() {
	position: absolute;
	bottom: @line-height-computed/2;
	left: @line-height-computed/2;
	right: @line-height-computed/2;
	.clear-v-table();
}

.v-center() {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	position: relative;
	bottom: auto;
	top: auto;
	left: auto;
	right: auto;
}

.v-spacing-2() {
	[class*="v-spacing-2"] {
		left: @line-height-computed;
		right: @line-height-computed;
		&.v-top {
			top: @line-height-computed;
		}
		&.v-bottom {
			bottom: @line-height-computed;
		}
	}
}

.overlay-full() {
	top: 0;
	height: 100%;
	p {
		max-width: 100%;
	}
}