[class*="ls-top-navbar"] .navbar-absolute-top {
	& + .cover-navbar-large-top {
		margin-top: -@navbar-height;
		@media (min-width: @navbar-large-breakpoint) {
			margin-top: -@navbar-large-height;
		}
	}
	& + .cover-navbar-small-top {
		margin-top: -@navbar-small-height;
	}
	& + .cover-navbar-top {
		margin-top: -@navbar-height;
	}
}