<div class="container-fluid">
    <div class="jumbotron bg-transparent text-center margin-none">
        <h1>Covers</h1>
        <p class="lead">The cover component helps create complex layered UI elements consisting of a primary area (for example, an image) and one or multiple overlay areas, positioned on top of the primary area, with different display and positioning options and various elements, even a navbar menu.</p>
    </div>
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Dark image, white overlay text and navbar cover skin with white top-level nav items text</h4>
</div>

<div class="relative overflow-hidden max-width-1000 h-center">
    {% include "tk-cover/html/covers/navbar.html" {
        navId: "1",
        navbarOptions: "navbar-skin-cover" } %}

    {% include "tk-cover/html/covers/cover-image.html" {
        overlayTitle: "Light text cover",
        overlayText: "When using dark color based images, we need light text color overlay and light text color top-level nav items." } %}
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Light image, dark overlay text and navbar cover skin with dark top-level nav items text</h4>
</div>

<div class="relative overflow-hidden max-width-1000 h-center">

    {% include "tk-cover/html/covers/navbar.html" {
        navId: "2",
        navbarOptions: "navbar-skin-cover navbar-skin-cover-white" } %}

    {% include "tk-cover/html/covers/cover-image.html" {
        coverOptions: "max-height-800 height-800-xs",
        overlayOptions: "overlay-bg-white-strong",
        coverImage: "images/photodune-2626329-dog-watching-a-movie-m.jpg",
        overlayTitle: "Dark text cover",
        overlayText: "When using light color based images, we need dark text color overlay and dark text color top-level nav items." } %}

</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Carousel with mixed covers</h4>
</div>

<div class="relative overflow-hidden max-width-1000 h-center">

    {% include "tk-cover/html/covers/navbar.html" {
        navId: "3",
        navbarOptions: "navbar-default" } %}

    {% include "tk-cover/html/covers/cover-carousel.html" %}

</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Widgets</h4>
    <div class="max-width-1000 h-center">
        <div class="row gridalicious" data-toggle="gridalicious" data-width="200">

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/fashion-beauty-portrait-sexy-girl-holiday-makeup.jpg" alt="music" />

                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">The Voyager</a></h4>
                    <span class="text-grey-500">In Style</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/fashion-beauty-portrait-sexy-girl.jpg" alt="music" />
                    <div class="overlay overlay-full overlay-bg-grey text-center">
                        <div class="v-center">
                            <h3 class="text-h3 margin-none text-overlay">Featured Cover</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Godspeed</a></h4>
                    <span class="text-grey-500">Heavy Metal</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/portrait-of-man-with-guitar.jpg" alt="music" />
                    <div class="overlay overlay-full overlay-bg-black">
                        <div class="v-top">
                            <span class="fa fa-fw fa-star text-primary"></span>
                            <span class="fa fa-fw fa-star text-primary"></span>
                            <span class="fa fa-fw fa-star text-primary"></span>
                            <span class="fa fa-fw fa-star-o text-white"></span>
                            <span class="fa fa-fw fa-star-o text-white"></span>
                        </div>
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-pause"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Things</a></h4>
                    <span class="text-grey-500">Happen</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/young-couple-in-love.jpg" alt="music" />
                    <div class="overlay overlay-full overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-pink-500">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="v-bottom">
                            <a href=""><i class="fa fa-heart text-white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Dreams</a></h4>
                    <span class="text-grey-500">Shine</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/main-playing-guitar.jpg" alt="music" width="100%" />
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">My Guitar</a></h4>
                    <span class="text-grey-500">Records</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/beauty-fashion-portrait.jpg" alt="music" width="100%"/>
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Angels</a></h4>
                    <span class="text-grey-500">Heaven</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/autumn-woman-fall.jpg" alt="music" width="100%"/>
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Falling</a></h4>
                    <span class="text-grey-500">Heaven</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/black-male-fashion-model.jpg" alt="music" width="100%"/>
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Beats</a></h4>
                    <span class="text-grey-500">Heaven</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/singing-woman.jpg" alt="music" width="100%"/>
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Classic</a></h4>
                    <span class="text-grey-500">Heaven</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full">
                    <img src="images/retro-woman.jpg" alt="music" width="100%"/>
                    <div class="overlay overlay-full overlay-hover overlay-bg-black">
                        <div class="v-center">
                            <a href="" class="btn btn-lg btn-circle btn-white">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Jazz</a></h4>
                    <span class="text-grey-500">Heaven</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="cover overlay hover cover-image-full height-180">
                    <div class="bg-pink-400 overlay overlay-full text-center">
                        <div class="v-center">
                            <h3 class="text-h3 margin-none text-white">Featured Cover</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4 class="margin-none"><a href="">Godspeed</a></h4>
                    <span class="text-grey-500">Heavy Metal</span>
                </div>
            </div>

        </div>
    </div>

</div>