<div class="cover overlay cover-image-full {{ coverOptions or 'max-height-700 height-550-xs' }}">
    <img src="{{ coverImage or 'images/photodune-2755655-party-time-s.jpg' }}" alt="image"{% if coverImageOptions %} class="{{ coverImageOptions }}"{% endif %} />
    <div class="overlay {{ overlayOptions or 'overlay-bg-black' }}"{% if overlayData %} {{ overlayData }}{% endif %}>
        <div class="v-bottom">
            <div class="container-fluid">
                <div class="page-section">
                    <h1 class="text-h1 text-overlay margin-v-0-10">{{ overlayTitle }}</h1>
                    <p class="lead text-overlay">{{ overlayText }}</p>
                </div>
            </div>
        </div>
    </div>
</div>