<div id="carousel-cover-example" class="carousel carousel-controls-circle slide cover overlay overflow-hidden {{ coverOptions or 'max-height-800 min-height-400-xs' }}">
    <ol class="carousel-indicators">
        <li data-target="#carousel-cover-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-cover-example" data-slide-to="1"></li>
        <li data-target="#carousel-cover-example" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" data-slide-navbar="navbar-default">
            <img src="images/photodune-4161018-group-of-students-m.jpg" alt="Slider" class="cover-image">
            <div class="overlay overlay-bg-white-strong">
                <div class="v-bottom">
                    <div class="container-fluid">
                        <div class="page-section">
                            <h1 class="text-h1 text-overlay margin-v-0-10">Dark text cover</h1>
                            <p class="lead text-overlay">When using light color based images, we need dark text color overlay and dark text color top-level nav items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" data-slide-navbar="navbar-skin-cover">
            <img src="images/photodune-2755655-party-time-s.jpg" alt="Slider" class="cover-image">
            <div class="overlay overlay-bg-black">
                <div class="v-bottom">
                    <div class="container-fluid">
                        <div class="page-section">
                            <h1 class="text-h1 text-overlay margin-v-0-10">Light text cover</h1>
                            <p class="lead text-overlay">When using dark color based images, we need light text color overlay and light text color top-level nav items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" data-slide-navbar="navbar-skin-cover navbar-skin-cover-white">
            <img src="images/photodune-2626329-dog-watching-a-movie-m.jpg" alt="Slider" class="cover-image">
            <div class="overlay overlay-bg-white-strong">
                <div class="v-bottom">
                    <div class="container-fluid">
                        <div class="page-section">
                            <h1 class="text-h1 text-overlay margin-v-0-10">Dark text cover</h1>
                            <p class="lead text-overlay">When using light color based images, we need dark text color overlay and dark text color top-level nav items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-cover-example" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-cover-example" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>