<!-- navbar -->
<nav class="navbar navbar-static-top navbar-absolute-top navbar-size-large{% if navbarOptions %} {{ navbarOptions }}{% endif %}" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-cover-{{ navId }}">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ site.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-cover-{{ navId }}">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Website <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Dropdown Header</li>
                        <li class="active"><a href="#">Menu Item 1</a></li>
                        <li><a href="#">Menu Item 2</a></li>
                        <li><a href="#">Menu Item 3</a></li>
                        <li><a href="#">Menu Item 4</a></li>
                        <li><a href="#">Menu Item 5</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left margin-none">
                {% include "tk-navbar/html/_search_1.html" %}
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% include "tk-navbar/html/_user.html" %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
</nav>